.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Delay effect for staggered animation */
.fade-in:nth-child(1) {
  transition-delay: 0.2s;
}
.fade-in:nth-child(2) {
  transition-delay: 0.4s;
}
.fade-in:nth-child(3) {
  transition-delay: 0.6s;
}

/* p tags animation */

/* H1 animation */
.animate-chars {
  opacity: 0;
  display: inline-block;
  overflow: hidden;

}

.animate-chars span {
  opacity: 0;
  display: inline-block;
  transition-behavior: normal;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.08);
  transition-property: all;
  transform: translateY(100%);
  will-change: transform;
}

.animate-text {
  font-size: 16px;
  line-height: 1.7;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-chars.visible span {
  opacity: 1;
  transform: translateY(0);
}

    /* === BLOCK ANIMATIONS === */
    .animate-left,
    .animate-right,
    .animate-bottom {
      opacity: 0;
      transition: all 0.8s ease-out;
    }

    .animate-left {
      transform: translateX(-100px);
    }
    .animate-left.visible {
      opacity: 1;
      transform: translateX(0);
    }

    .animate-right {
      transform: translateX(100px);
    }
    .animate-right.visible {
      opacity: 1;
      transform: translateX(0);
    }

    /* Animate from bottom */
    .animate-bottom {
      opacity: 0;
      transform: translate(0, 60px);
      transition: all 1s;
    }
    .animate-bottom.visible {
      opacity: 1;
      transform: translate(0, 0);
    }

    .animate-bottom-2 {
      visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 80, 0, 1);
    }

    .animate-bottom-2.visible {
      visibility: visible;
          opacity: 1;
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transition: all, opacity 0.8s 
          cubic-bezier(0.5, 0, 0, 1) 0.1s, transform 0.8s 
          cubic-bezier(0.5, 0, 0, 1) 0.1s;
    }


    .animate-date {
      /* visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 500, 0, 1); */
      opacity: 0;
      transform: translate(0, 60px);
      transition: all 1s;
    }

    .animate-date.visible {
        visibility: visible;
        opacity: 1;
        /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: all, opacity 1s 
    cubic-bezier(0.5, 0, 0, 1), transform 1s 
    cubic-bezier(0.5, 0, 0, 1); */
      transform: translate(0, 0);
    }

    /* CUSTOM CURSOR */
    /* html, body {
        cursor: none;
    }

    #custom-cursor {
        position: fixed;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--border, rgba(44, 44, 44, 0.6));
        background: #1f468585;
        pointer-events: none;
        user-select: none;
        transform: translate(-50%, -50%) scale(1);
        transition:
            transform 0.5s ease,
            background-color 0.5s ease,
            width 0.3s ease,
            height 0.3s ease;
        z-index: 10000;
    }

    #custom-cursor.link-hover {
        background: transparent;
        width: 50px; 
        height: 50px;
        border: 1px solid var(--border, rgba(44, 44, 44, 0.6));
        transform: translate(-50%, -50%) scale(1);
        background: #1f468585;
    }

    #custom-cursor.is-hide {
        opacity: 0;
    }

    @media (hover: none) {
        #custom-cursor {
            display: none !important;
        }
    } */

    /* CUSTOM CURSOR */