@charset "UTF-8";

.footer {
  color: #717171;
  background-color: var(--main-bg-color);
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer .inner {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  font-weight: 600;
}

.footer_logo,
.footer_address,
.footer_nav {
  width: 100%;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer_logo .logo img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.footer_logo .recruit_btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--font-color);
}

.footer_logo .recruit_btn img {
  width: 30px;
}

.footer_address div {
  margin-bottom: 20px;
}

.footer_address div:nth-last-child(1) {
  margin-bottom: 0;
}

.footer_nav ul {
  display: flex;
  flex-wrap: wrap;
}

.footer_nav ul li {
  width: 50%;
  margin-bottom: 20px;
}

.footer_nav ul li a {
  color: #717171;
  position: relative;
  padding-bottom: 5px;
  position: relative;
}

.footer_nav ul.sp {
  display: none;
}

.footer_nav ul li a.mail_icon {
  padding-right: 26px;
}

.footer_nav ul li a.mail_icon::after {
  content: "";
  background: url(../img/mail-icon_footer.png) no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 20px;
}

.footer_nav ul li a::before {
  content: "";
  background-color: var(--main-bg-color);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.footer_nav ul li a:hover::before {
  width: 100%;
}

.footer .btns {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 50px;
}

.footer .btns a {
  width: 100%;
  max-width: 100%;
  height: 70px;
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer .inner {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    text-align: center;
    gap: 30px;
  }

  .footer_logo .recruit_btn {
    justify-content: center;
  }

  .footer_nav ul {
    width: 100%;
    margin: 0 auto;
  }

  .footer_nav ul li {
    width: 100%;
  }

  .copyright {
    font-size: 14px;
  }

  .footer_nav ul.sp {
    display: flex;
  }

  .footer_nav ul.pc {
    display: none;
  }
}