@charset "UTF-8";

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.must {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40px;
  height: 30px;
  background-color: #DC1432;
  background-image: unset;
  border: 0;
  padding: 0;
  font-size: 14px;
  padding-bottom: 2px;
  margin-right: 10px;
}

.contact__form table tbody tr {
  display: flex;
  padding: 25px 3%;
  border-bottom: solid 1px;
}

.contact__form table tbody tr:nth-child(1) {
  border-top: solid 1px;
}

.contact__form table tbody tr th {
  display: flex;
  align-items: center;
  width: 35%;
}

.contact__form table,
.contact__form table tbody,
.contact__form table tbody tr td {
  width: 100%;
}

.contact__form table tbody tr td input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: var(--font-family);
}

.contact__form table tbody tr td textarea {
  width: 100%;
}

.contact__form .checkbox {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__form .checkbox input {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  accent-color: green;
  margin-right: 10px;
}

.contact__form .checkbox a {
  color: var(--main-bg-color);
  border-bottom: solid 1px;
  margin-right: 5px;
}

.contact__form .btn {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  height: 60px;
  color: #fff;
  background-color: var(--main-dark-color);
  font-size: 16px;
  border: solid 1px var(--main-dark-color);
  cursor: pointer;
  transition: 0.5s;
}

.contact__form .btn:hover {
  background-color: #595959;
  border: solid 1px var(--main-bg-color);
  transition: 0.5s;
}

@media screen and (max-width: 568px) {
  .contact__form table tbody tr th {
    width: 100%;
  }
}